{% extends 'modal_template.html' %}

{% block title %}
Bookmark Password Reset
{% endblock %}

{% block content %}
<form method="POST" id="gatekeeper-form">
    <header>
        <h1>Bookmark Password Reset</h1>
    </header>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <span class="gatekeeper-form-input-group">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="bookmark@novels.com" required />
    </span>
    <div id="gatekeeper-form-bottom">
        <div id="gatekeeper-form-buttons" class="vertical-align">
            <button class="btn-primary" type="submit" name="reset">Reset Password</button>
        </div>
    </div>
</form>
{% endblock %}
