<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans:400|Montserrat:700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/gatekeeper.min.css') }}" rel="stylesheet" />
    </head>
    <body>
        <aside id="gatekeeper-top-bar">
            <span id="bookmark-logo">
                <a href="{{ hosts.bookmark }}">
                Bookmark Novels
                </a>
            </span>
            <a href="{{ url_for('signin') }}">
                <span class="fa fa-sign-in"></span>
                Sign In
            </a>
            <a href="{{ url_for('signup') }}">
                <span class="fa fa-user-plus"></span>
                Create Account
            </a>
            </span>
        </aside>
        <div id="gatekeeper-modal-wrapper">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
