{% extends 'modal_template.html' %}

{% block title %}
Bookmark Sign Up
{% endblock %}

{% block content %}
<form method="POST" id="gatekeeper-form">
    <header>
        <h1>Create a Bookmark Account</h1>
    </header>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <span class="gatekeeper-form-input-group">
        <label>Display Name</label>
        <input type="name" name="name" placeholder="Your Name Here" required />
    </span>
    <span class="gatekeeper-form-input-group">
        <label>Email Address</label>
        <input type="email" name="email" placeholder="bookmark@novels.com" required />
    </span>
    <span class="gatekeeper-form-input-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Super Secret Password" required />
    </span>
    <div id="gatekeeper-form-bottom">
        <div class="small">
            <hr />
            By clicking "Create Account", I acknowledge and accept the Bookmark <a href="{{ hosts.bookmark }}/tos">terms&nbsp;of&nbsp;service</a> and <a href="{{ hosts.bookmark }}/privacy">privacy&nbsp;policy</a>.
            <hr />
        </div>
        <div id="gatekeeper-form-buttons" class="vertical-align">
            <button class="btn-primary" type="submit" name="register">Create&nbsp;Account</button>
        </div>
    </div>
</form>
{% endblock %}