$gray: #f1f1f1;
$dark-gray: darken($gray, 10%);
$darker-gray: darken($gray, 20%);
$darkest-gray: darken($gray, 60%);

$green: #3cbc87;
$dark-green: darken($green, 10%);

$red: #ff5f5f;

$link-default: $green;
$link-hover: $dark-green;
$body-copy: #000;

$input-border: 2px solid $gray;
$input-padding: 1rem;
$input-color: #777;
$input-width: 100%;
$input-transition: 0.1s background, 0.1s border, 0.1s color;
$input-focus-border: 2px solid $green;
$input-focus-background: #fff;
$input-focus-color: $link-default;

* {
    outline: $green;
}

html, body {
    font-family: Open Sans;
    font-size: 14px;
    color: $body-copy;
    background: $gray;
    line-height: 1.4rem;
}

a {
    text-decoration: none;
    color: $link-default;

    &:hover {
        text-decoration: none;
        color: $dark-green;
    }
}

hr {
    border: none;
    height: 1px;
    background: $dark-gray;
    margin: 1rem 0;
}

p {
    line-height: 1.5rem;
    margin: 1.5rem 0px;
}

button, input, textarea, select {
    font-family: Open Sans;
}

input {
    border-radius: 3px;
    background: $gray;
    border:$input-border;
    outline: none;
    padding: $input-padding;
    box-sizing: border-box;
    color: $input-color;
    transition: $input-transition;

    &:focus {
        border: $input-focus-border;
        background: $input-focus-background;
    }
}

/*
FF shows a red box shadow for required inputs rendered in React
Issue 17: https://github.com/Bookmark-Novels/Gatekeeper/issues/17
*/
input[required]:-moz-ui-invalid {
    box-shadow: none;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

button {
    padding: 1rem;
    border: none;
    background: $gray;
    border-radius: 3px;

    &:hover {
        background: $green;
        cursor: pointer;
        color: #fff;
    }
}

button.btn-primary {
    background: $green;
    color: #fff;

    &:hover {
        background: $dark-green;
    }
}

.small-width {
    display: none;
}

#gatekeeper-top-bar {
    background: #fff;
    display: flex;
    flex-flow: row;

    a {
        color: $body-copy;
        padding: 1rem;
        display: inline-block;
        border-right: 1px solid $gray;
    }

    a:hover {
        color: $darkest-gray;
    }
}

#bookmark-logo {
    font-weight: 700;
}

#gatekeeper-modal-wrapper {
    max-width: 600px;
    margin: 10rem auto 0;
}

#gatekeeper-modal {
    background: #fff;
    padding: 3rem;
    border-radius: 3px;

    h1, h2 {
        margin-top: 0;
    }
}

.gatekeeper-form-input-group {
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;

    label, input {
        display: inline-block;
    }

    label {
        width: 9rem;
        flex-grow: 0;
        padding: 1rem;
        box-sizing: border-box;
        text-align: right;
    }

    input {
        flex-grow: 1;
    }
}

#gatekeeper-form-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    div hr {
        margin: 0;
    }

    div hr:first-child {
        margin-bottom: 1rem;
    }

    div hr:last-child {
        margin-top: 1rem;
    }
}

#gatekeeper-form-buttons {
    flex-grow: 1;
    justify-content: flex-end;

    & > * {
        margin-left: 1rem;
    }
}

.gatekeeper-form-input-check {
    display: block;
    margin-bottom: 1rem;
}

.vertical-align {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.gray {
    color: $darker-gray;
}

.dark-gray {
    color: $dark-gray;
}

.darker-gray {
    color: $darker-gray;
}

.small {
    font-size: 0.9rem;
}

#bookmark-registration-agreement {
    /* border-right: 1px solid $dark-gray; */
    text-align: justify;
}

#no-js {
    font-weight: 700;
    color: #ff0000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #fff;
}

.alert {
    padding: 1rem;

    &.error {
        background: $red;
        color: #fff;
    }
}

@media (max-width: 576px) {
    .full-width {
        display: none;
    }

    .small-width {
        display: inline-block;
    }

    #gatekeeper-top-bar a {
        span.fa {
            display: none;
        }
    }

    #gatekeeper-modal-wrapper {
        margin: 1rem auto 0;
    }

    #gatekeeper-modal {
        padding: 1.5rem 1rem;
    }

    .gatekeeper-form-input-group {
        flex-flow: column;
        margin-bottom: 1rem;

        label {
            text-align: left;
            padding: 0 0 1rem;
        }
    }

    #gatekeeper-form-bottom {
        flex-flow: column;

        #bookmark-registration-agreement {
            text-align: left;
            margin-bottom: 1rem;
        }
    }
}

/*
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
